header {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  padding: 0 5vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .left {
  height: auto;
}

header .home {
  display: block;
}

header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 340px;
}

header .bag {
  width: 36px;
  height: 36px;
  color: #09192c;
  cursor: pointer;
}

header .searchbar {
  display: flex;
  align-items: center;
  cursor: text;
  margin: 0;
  padding: 10px 14px;
  border-radius: 100vw;
  border: solid 2px #09192c;
  width: 280px;
  gap: 10px;
}

header .searchbar input {
  display: inline;
  width: 180px;
  border-color: transparent;
  background-color: transparent;
  font-size: 0.875rem;
  font-family: 'Poppins';
}

header .searchbar input:focus {
  outline: none;
  color: #09192c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s;
  transition: background-color 5000s;
}

.icon {
  margin: auto;
  width: 24px;
  color: #848c96;
}

.icon svg {
  vertical-align: middle;
}

.audiovisuel {
  background-color: #fee9e8;
}

.design {
  background-color: #cae7fb;
}

.communication {
  background-color: #fff6eb;
}

.developpement {
  background-color: #efecfe;
}

.remove {
  cursor: pointer;
}

/* RESULTATS BARRE DE RECHERCHE */

header .results {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0;
  max-height: 50vh;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  font-family: 'Poppins';
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.results::-webkit-scrollbar {
  display: none;
}

header .found {
  display: block !important;
  width: 100%;
}

header .notfound {
  display: block !important;
  width: 100%;
}

header h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 20px;
}

header .found a {
  display: block;
  padding: 12px 20px;
  color: #09192c;
  border-radius: 6px;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: left;
  transition: 0.3s;
  background-color: transparent;
  font-family: 'Poppins';
}

header .found a.audiovisuel:hover {
  background-color: #fee9e8;
}

header .found a.design:hover {
  background-color: #cae7fb;
}

header .found a.communication:hover {
  background-color: #fff6eb;
}

header .found a.developpement:hover {
  background-color: #efecfe;
}

header .notfound h2 {
  margin-bottom: 20px;
}

.navbar-border {
  top: 99px;
  left: 0;
  position: fixed;
  width: 100%;
  height: 1px;
  background-color: #848c96;
  pointer-events: none;
  box-shadow: 0px 4px 20px 1px #000000ff;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/* RETOUR */

.retour {
  position: fixed;
  top: 20vh;
  left: 10vw;
  transform: translate(-50%, -50%);
  z-index: 4;
}
