*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  background-color: white;
}

/* HEADER */

header {
  display: flex;
  opacity: 1;
  background-color: transparent;
}

/* INTRO */

.intro {
  z-index: 10;

  position: absolute;
  top: 0;

  height: 100vh;
  width: 100vw;
  margin: 0 auto;

  display: none;
  flex-direction: column;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  background-color: white;

  opacity: 1;
  transition: 1s;
}

.intro .drone {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;

  position: absolute;
  top: 15vh;

  width: 40vw;
  min-width: 400px;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro .skip {
  z-index: 8;
  position: absolute;
  top: 10vh;
  right: 4vw;
  font-size: 1.2rem;
  color: white;
  background-color: #fa5014;
  padding: 20px 40px;
  border-radius: 100vw;
  cursor: pointer;
  pointer-events: visible;
  transform: translate(-50%, -50%);
}

.intro .messages {
  z-index: 3;

  position: absolute;
  top: 120vh;

  height: 30vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro .messages p {
  position: absolute;

  display: inline-block;

  width: -webkit-fit-content;

  width: -moz-fit-content;

  width: fit-content;
  max-width: 40vw;

  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #d9d9d9;
  color: #09192c;
  padding: 10px 20px;
  border-radius: 30px;
}

.intro .mask {
  z-index: 5;

  position: absolute;
  top: 0;
  height: 55vh;
  width: 100vw;

  background: #ffffff;
}

.intro .fade .top {
  z-index: 4;

  position: absolute;
  top: 55vh;
  left: 0;

  height: 20vh;
  width: 100vw;

  background: linear-gradient(white 20%, transparent);
}

.intro .fade .bottom {
  z-index: 4;

  position: absolute;
  bottom: 0vh;
  left: 0;

  height: 20vh;
  width: 100vw;

  background: linear-gradient(transparent 20%, white);
}

/* CHARGEMENT */
.loading {
  z-index: 3;

  position: absolute;

  height: 100vh;
  width: 100vw;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Poppins', sans-serif;
  background-color: white;

  opacity: 1;
  transition: 0.6s;

  pointer-events: none;
}

.loading .message-drone {
  position: absolute;

  top: 8vh;
  left: 10vw;

  padding: 10px 20px;
  max-width: 60vw;

  font-size: max(1vw, 1rem);

  background-color: #d9d9d9;
  color: #09192c;

  border-radius: 30px;
}

.loading h1 {
  margin: 0;

  font-size: 5vw;
}

.loading .progress {
  margin: 0;
  margin-bottom: 4vh;

  width: 0vw;
  height: 2vh;
  max-height: 20px;

  background-color: #fa5014;

  border-radius: 2vw;
  transform-origin: 100% 0;
  transition: width 0.5s;
}

.loading .progressbg {
  margin-top: 2vw;
  margin-bottom: -2vh;

  width: 20vw;
  height: 2vh;
  max-height: 20px;

  background-color: #e3e5e8;

  border-radius: 2vw;
}

.loading .message-chargement {
  font-size: max(1vw, 1rem);
  font-style: italic;

  color: #3a4756;
}

/* THREE JS */

.webgl {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.sprite {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.sprite:hover .plus {
  background-color: #329dff;
  transform: scale(1.1);
}

.sprite:hover .nom {
  background-color: #329dff;
  opacity: 1;
}

.sprite.active .nom {
  opacity: 1;
}

.sprite .plus {
  z-index: 2;
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #329dffbb;
  color: white;
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  transition: 0.3s;
}

.sprite .nom {
  z-index: 1;
  position: absolute;
  left: 30px;
  display: inline-block;
  white-space: nowrap;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #329dffbb;
  color: white;
  font-family: 'Poppins';
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(-75%);
  pointer-events: none;
  transition: 0.3s;
}

/* NAVIGATION BUTTONS */

.left-click {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    -90deg,
    transparent 20%,
    rgba(255, 255, 255, 0.4)
  );
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-click svg {
  margin: 20%;
  cursor: pointer;
}

.right-click {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, transparent 20%, rgba(255, 255, 255, 0.4));
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-click svg {
  margin: 20%;
  transform: rotateZ(180deg);
  cursor: pointer;
}
