*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  color: #09192c;
  overflow-x: hidden;
}

main {
  width: 80vw;
  max-width: 1400px;
  margin: auto;
  margin-top: 120px;
  position: relative;
}

.retour {
  position: fixed;
  top: 20vh;
  left: 10vw;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.avatar {
  position: fixed;
  width: 26vw;
  height: 80vh;
  z-index: 5;
}

.avatar canvas {
  border-radius: 100vh;
}

section {
  float: right;
  width: 60%;
  max-width: 1200px;
  margin-bottom: 2vh;
}

.current-domain {
  color: #ef4813;
}

.fil-Ariane {
  color: #848c96;
  font-size: 1.125rem;
  margin: 0;
}

.fil-Ariane a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 30px;
}

section p,
section ul {
  color: #3a4756;
  margin-top: 0;
  margin-bottom: 4vh;
}

.boutons {
  height: 80px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.ajouter-panier {
  text-decoration: none;
  background-color: #ef4813;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 12px 34px;
  border-radius: 10px;
  cursor: pointer;
}

.like {
  border: solid 2px #09192c;
  border-radius: 10px;
  /* color: #09192C; */
  font-size: 1.25rem;
  padding: 12px 18px;
}

.like img {
  position: relative;
  top: 4px;
  margin-right: 5px;
  width: 30px;
}

.avis {
  width: 80%;
  margin-bottom: 4vh;
  padding-bottom: 4vh;
  border-bottom: solid 1px #848c96;
}

.avis:last-child {
  border-bottom: none;
}

.nom-etudiant {
  font-size: 1.125rem;
}

.adj-etudiant {
  color: #848c96;
  font-size: 0.75rem;
}

.avis-etudiant {
  margin-top: 10px;
  font-size: 0.875rem;
}

.conseil-etudiant {
  color: #4faff3;
  font-size: 0.875rem;
  font-style: italic;
  margin: 0;
}
