*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  color: #09192c;
  overflow-x: hidden;
}

main {
  width: 80vw;
  max-width: 1400px;
  margin: auto;
  margin-top: 120px;
  position: relative;
}

.avatar {
  position: fixed;
  width: 26vw;
  height: 80vh;
  z-index: 5;
}

.avatar canvas {
  border-radius: 100vh;
}

.fiche {
  float: right;
  width: 60%;
  max-width: 1200px;
  margin-bottom: 2vh;
}

.current-domain {
  color: #ef4813;
}

.fil-Ariane {
  color: #848c96;
  font-size: 1.125rem;
  margin: 0;
}

.fil-Ariane a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 30px;
}

.fiche p,
.fiche ul {
  color: #3a4756;
  margin-top: 0;
  margin-bottom: 4vh;
}

.boutons {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ajouter-panier {
  text-decoration: none;
  background-color: #fa5014;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 18px 34px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.ajouter-panier:hover {
  background-color: #ff4300;
}

.supprimer-panier {
  text-decoration: none;
  background-color: #ff314a;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 18px 34px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

.supprimer-panier:hover {
  background-color: #e82f45;
}

.like {
  display: flex;
  align-items: center;
  border: solid 2px #09192c;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 12px 18px;
  cursor: pointer;
  gap: 6px;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
}

.like:hover {
  background-color: #f9f5ff;
}

.like img {
  width: 30px;
}

.avis {
  width: 80%;
  margin-bottom: 4vh;
  padding-bottom: 4vh;
  border-bottom: solid 1px #848c96;
}

.avis:last-child {
  border-bottom: none;
}

.nom-etudiant {
  font-size: 1.125rem;
}

.adj-etudiant {
  color: #848c96;
  font-size: 0.75rem;
}

.avis-etudiant {
  margin-top: 10px;
  font-size: 0.875rem;
}

.conseil-etudiant {
  color: #4faff3;
  font-size: 0.875rem;
  font-style: italic;
  margin: 0;
}
