*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  color: #09192c;
  overflow-x: hidden;
}

.retour {
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.retour span {
  margin: 0 20px;
  color: #09192c;
}

main {
  width: 80vw;
  max-width: 1400px;
  margin: auto;
  margin-top: calc(4vh + 100px);
  position: relative;
  margin-bottom: calc(6vh + 30px);
}

.panier {
  width: 60%;
  max-width: 1200px;
  min-height: 80vh;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
}

.panier p {
  margin: 5px 0;
}

.metier {
  position: relative;
  max-width: 1200px;
  margin: 25px auto;
  padding: 20px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.metier h2 {
  margin: 0;
  font-weight: 600;
}

/* .metier div {
  width: 100%;
} */

.phrase-metier {
  font-size: 0.8rem;
  color: #3a4756;
}

.metier .perso-3d {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  margin-right: 15px;
}

.lien-fiche-metier {
  text-decoration: none;
  color: #fa5014;
}

.metier svg {
  margin: 0 2vw;
}

.coordonnees {
  top: 55vh;
  right: -4vh;
  width: 24vw;
  min-width: 400px;
  padding: 30px;
  background-color: #eef0f1;
  border-radius: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
}
.coordonnees h1 {
  margin: 0;
}

.titre-form {
  display: block;
  color: #3a4756;
  font-size: 0.9rem;
  margin-top: 20px;
  font-weight: 400;
}

.coordonnees .situation-pro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.checkbox {
  width: 30%;
  max-width: 120px;
  height: 90px;

  cursor: pointer;
  border-radius: 10px;
}

.checkbox p {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;

  border: 2px solid #848c96;
  border-radius: 10px;

  text-align: center;
  color: #848c96;
  font-size: 0.9rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

.coordonnees input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

.checkbox input:checked + p {
  border-color: #fa5014;
  color: #fa5014;
}

.coordonnees label {
  cursor: pointer;
}

.coordonnees input {
  background-color: #e3e5e8;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

.coordonnees input:focus {
  outline-color: #fa5014;
}

.coordonnees input::-webkit-input-placeholder {
  font-family: 'Poppins';
  color: #848c96;
}

.coordonnees input::-moz-placeholder {
  font-family: 'Poppins';
  color: #848c96;
}

.coordonnees input:-ms-input-placeholder {
  font-family: 'Poppins';
  color: #848c96;
}

.coordonnees input::-ms-input-placeholder {
  font-family: 'Poppins';
  color: #848c96;
}

.coordonnees input::placeholder {
  font-family: 'Poppins';
  color: #848c96;
}

.age-postal-inputs {
  display: flex;
  justify-content: space-between;
}

.age-postal-inputs div {
  width: 45%;
}

.domaine-fav {
  color: #3a4756;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.domaine-fav span {
  color: #fa5014;
  font-weight: 300;
}

.coordonnees .bouton-valider {
  display: block;
  margin: auto;
  background-color: #fa5014;

  font-family: 'Poppins';
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
