*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 80vw;
  max-width: 1400px;
  margin: auto;
  margin-top: 120px;
  position: relative;
}

.avatar {
  position: fixed;
  width: 26vw;
  height: 80vh;
  z-index: 5;
}

.avatar canvas {
  border-radius: 100vh;
}

section {
  float: right;
  width: 60%;
  max-width: 1200px;
  margin-bottom: 10vh;
}

.current-domain {
  color: #ef4813;
}

.fil-Ariane {
  color: #848c96;
  font-size: 1.125rem;
  margin: 0;
}

.fil-Ariane a {
  text-decoration: none;
}

h1 {
  color: #09192c;
  font-size: 4rem;
  margin: 20px 0 10px 0;
  line-height: 60px;
}

.nom-famille {
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 3rem;
}

.role {
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 30px;
  color: #09192c;
}

section p,
section ul {
  color: #3a4756;
  margin-top: 0;
  margin-bottom: 4vh;
}

.boutons {
  height: 80px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.cv {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 18px 34px;
  border-radius: 10px;
}

.cv-num {
  background-color: #ff3f6d;
  transition: 0.3s;
}

.cv-num:hover {
  background-color: #fc3664;
}

.cv-trad {
  background-color: #00d9cc;
  transition: 0.3s;
}

.cv-trad:hover {
  background-color: #02ddce;
}

.boutons svg {
  vertical-align: top;
}
