*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: #09192C;
    overflow-x: hidden;
} 

main {
    width: 80vw;
    max-width: 1400px;
    margin: auto;
    margin-top: 120px;
    position: relative;
}

.retour {
    position: absolute;
    padding: 2%;
    left: -8%;
}

section {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.metier {
    width: 45%;
    max-width: 1200px;
    margin: 10px 20px;
    padding: 20px 15px;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.metier h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.metier div {
    width: 100%;
}

.metier .perso-3d {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
}

.lien-fiche-metier {
    text-decoration: none;
    color: #FA5014;
}

