* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    left: 0;
}

.fiche {
    width: 940px;
    margin: 30px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

.avatar{
    width: 200px;
    height: 40vh;
    margin: auto;
    z-index: 99;
}

.croix{
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-color: #09192C;
}

.croix img{
    width: 30px;
}

.title{
    margin-left: 6.66%;
    text-align: center;
}

h1 {
    text-align: right;
    display: inline-block;
    margin: 0;
    padding: 0;
    
}

.add_metier{
    width: 35px;
    height: 35px;
    background-color: #EF4813;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    transition: .25s;
}

h2{
    margin-top: 50px;
}
.ancien {
    text-align: center;
}

.avis {
    width: 250px;
    text-align: center;
    font-weight: 300;
    display: inline-block;
    padding: 10px;
}

.avis:nth-child(3){
    margin: 0 20px;
}

span{
    font-weight: 600;
}

.add_panier {
    display: block;
    width: 250px;
    height: 50px;
    margin: auto;
    margin-top: 105px;
    background-color: #EF4813;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 10px;
}
