*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
} 

main {
    width: 80vw;
    max-width: 1400px;
    margin-top: 14vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.avatar {
    width: 30vw;
    min-width: 350px;
}

section {
    width: 55%;
    min-width: 600px;
    max-width: 1200px;
}

.current-domain {
    color: #EF4813;
}

.fil-Ariane {
    color: #848C96;
    font-size: 1.125rem;
    margin: 0;
}

.fil-Ariane a{
    text-decoration: none;
}

h1 {
    color: #09192C;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 30px;
    color: #09192C;
}

section p, section ul {
    color: #3A4756;
    margin-top: 0;
    margin-bottom: 30px;
}
.boutons {
    height: 50px;
    display: flex;
    align-items: center;
    margin : 30px auto;
    box-sizing: border-box;
}

.ajouter-panier {
    display: inline-block;
    text-decoration: none;
    background-color: #EF4813;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 12px 34px;
    border-radius: 10px;
    margin-right: 30px;
}

.like {
   border: solid 2px #09192C;
   border-radius: 10px;
   color: #09192C;
   font-size: 1.25rem;
   padding: 12px 18px;
}

.like img {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.avis {
    border: solid #09192C 2px;
    border-radius: 10px;
    padding: 30px 40px;
    color: #09192C;
}

.nom-etudiant {
    font-size: 1.125rem;
}

.adj-etudiant {
    color: #848C96;
    font-size: 0.75rem;
}

.avis-etudiant {
    margin-top: 10px;
    font-size: 0.875rem;
}

.conseil-etudiant {
    color: #4FAFF3;
    font-size: 0.875rem;
    font-style: italic;
    margin: 0;
}