body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    padding: 2%;
    box-sizing: border-box;
}

.search svg{
    width: 25px;
    height: 25px;
    color: #09192C;
    float: left;
}

.bag svg{
    width: 25px;
    height: 25px;
    color: #09192C;
    float: right;
}

.exit a{
    padding: 15px 20px;
    color: snow;
    background-color: #09192C;
    border-radius: 90px;
    text-decoration: none;
}

.exit {
    width: 120px;
    margin-top: 75px;
    text-align: center;
}